<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="auditlogging" type="RiverSystem.Persistence.AuditConfiguration.AuditLogConfiguration, RiverSystem.Persistence"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlowMatters.Source.Veneer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %p %m%n"/>
      </layout>
    </appender>
    <appender name="CommandLineLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Source\Logs\CommandLine.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Source\Logs\nhibernate.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Source\Logs\general.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="ApplicationLayerLog" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Source\Logs\AppLayer.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="PersistenceLog" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\Source\Logs\PersistenceLayer.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="ProjectFileIOLog" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${APPDATA}\Source\Logs\ProjectFileIO-%processid.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern type="log4net.Util.PatternString" value="%%date{HH:mm:ss.fff} [%processid:%%t] - %%message%%newline"  />
      </layout>
    </appender>

    <!--levels: DEBUG, INFO, WARN, ERROR, FATAL-->
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="CommandLineLogAppender"/>
    </root>
    <logger name="RiverSystem.ApplicationLayer.Consumer">
      <level value="OFF" />
      <appender-ref ref="GeneralLog" />
    </logger>
    <logger name="RiverSystem.ApplicationLayer.Persistence">
      <level value="OFF" />
      <appender-ref ref="ApplicationLayerLog" />
    </logger>
    <logger name="RiverSystem.Persistence">
      <level value="OFF" />
      <appender-ref ref="PersistenceLog" />
    </logger>
    <logger name="NHibernate">
      <level value="OFF" />
      <appender-ref ref="NHibernateFileLog" />
    </logger>
    <logger name="RiverSystem.ApplicationLayer.Interfaces.Persistence.ProjectIOLog" additivity="false">
      <level value="INFO" />
      <appender-ref ref="ProjectFileIOLog" />
    </logger>
  </log4net>
  
</configuration>